[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = git@github.com:glfw/glfw.git
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "thirdparty/VulkanMemoryAllocator"]
	path = thirdparty/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "thirdparty/volk"]
	path = thirdparty/volk
	url = git@github.com:zeux/volk.git
[submodule "thirdparty/SPIRV-Reflect"]
	path = thirdparty/SPIRV-Reflect
	url = git@github.com:KhronosGroup/SPIRV-Reflect.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = git@github.com:g-truc/glm.git
